* {margin: 0;padding: 0;box-sizing: border-box;}
a {text-decoration: none;}
body::-webkit-scrollbar {width: 10px;}
body::-webkit-scrollbar-track {background: #f1f1f1;}
body::-webkit-scrollbar-thumb {background: #84c54e;}

.header-logo img {width: 100px;}
.header-logo p {color: #db1515;margin: 0;font-weight: 600;}
#offcanvas-open-btn {font-size: 25px;transition: 0.3s;border: 0;}
#offcanvas-open-btn:hover {color: #84c54e;}
#page-offcanvas {background-color: #84c54e;overflow-y: auto;}
#page-offcanvas::-webkit-scrollbar {width: auto;} 
#page-offcanvas::-webkit-scrollbar-track {background: #84c54e;}
#page-offcanvas::-webkit-scrollbar-thumb {background: #6a9e3e;border-radius: 10px;}
.canvas-link {
  width: 100%;
  padding: 13px 0;
  padding-left: 25px;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.canvas-link.canvas-active-color {background-color: #6a9e3e;}
.canvas-link:hover {background-color: #6a9e3e;}
.canvas-link a, .canvas-link span {color: #fff;font-weight: 500;}
.canvas-link i{
  padding: 10px;
  margin-right: 5px;
  transition: 0.3s;
}
.canvas-link i:hover{
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
}
.canvas-btn {
  background-color: #ffe400;
  font-weight: 500;
  transition: 0.3s;
  border: none;
  padding: 13px 25px;
  border-radius: 5px;
  font-size: 18px;
}
.canvas-btn:hover {background-color: #ff7e27;color: #fff;}
.canvas-social-icons a {
  color: #fff;
  padding: 5px;
  font-size: 20px;
  transition: 0.3s;
}
.canvas-social-icons a:hover {color: #ff7e27;}
.canvas-dropdown-menu {
  background-color: #78b347;
  width: 100%;
  height: 0;
  overflow: hidden;
  animation: open-menu 2s ease forwards;
}
@keyframes open-menu {
  0% {height: 0;}
  50% {height: 50%;}
  100% {height: auto;}
}
.canvas-dropdown-menu .canvas-link {border-bottom: 0;}
nav .nav-link a, .nav-link span {
  color: #000;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.nav-link a:hover, .nav-link span:hover {color: #84c54e;}
.nav-link.nav-active-link a {color: #84c54e;}
.nav-link.nav-active-link span {color: #84c54e;}
.navbar-btn {
  background-color: #84c54e;
  font-weight: 500;
  transition: 0.3s;
  border: none;
  padding: 8px 27px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}
.navbar-btn:hover {background-color: #ff7e27;}

.nav-link {position: relative;}
.nav-drop-menu {
  background-color: #84c54e;
  position: absolute;
  top: 100%;
  animation: up-menu 1s ease forwards;
}
@keyframes up-menu {
  0% {transform: translateY(25px);}
  100% {transform: translateY(0);}
}
.nav-drop-menu::before {
  content: "";
  border: 15px solid #84c54e;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -30px;
  width: 5px;
}
.nav-drop-menu .drop-menu-link {color: #fff;transition: 0.3s;}
.nav-drop-menu a:hover {color: #000;}


footer {background-color: #333333;}
.footer-top{padding: 80px 0;}
.footer-logo img {width: 150px;}
.footer-logo p {font-size: 16px;color: #db1515;margin: 0;}
.footer-info-content {color: rgba(255, 255, 255, 0.5);}
.footer-info-content span:nth-child(4) {color: #fff;}

footer .swiper {width: 100%;}
footer .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.footer-social-icons a{
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    font-size: 20px;
    padding: 0 5px;
}
.footer-social-icons a:hover{color: #84c54e;}
.footer-bottom{
    padding: 60px 0;
    background-color: #0F0F0F;
    color: rgba(255, 255, 255, 0.5);
}
.footer-bottom a{color: #84c54e;transition: 0.3s;}
.footer-bottom a:hover{color: #ff7e27;}
@media only screen and (min-width: 768px){
    .footer-logo img {width: 180px;}
    .footer-logo p {font-size: 25px;}
}





main{margin-top: 110px;}

.inaye-main .mySwiper2{width: 100%;}
.inaye-main .mySwiper2 .swiper-slide{
  width: 100%;
  height: 210px;
  position: relative;
}
.inaye-main .mySwiper2 .swiper-slide img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.inaye-main .mySwiper2 .slide-content{width: 95%;}
.inaye-main .mySwiper2 .content-header{
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 6px 15px;
  border-radius: 10px;
  font-size: 16px;
  opacity: 0;
  animation: move-up-animation 3s ease forwards;
}
.inaye-main .mySwiper2 .content-text{
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 10px 12px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  animation: move-up-animation 3s 1s ease forwards;
}
.inaye-main .mySwiper2 .content-button{
  background-color: #ff7e27;
  color: #fff;
  padding: 10px 17px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
  animation: move-up-animation 3s 2s ease forwards;
}
.inaye-main .mySwiper2 .content-button:hover{background-color: #84c54e;}
@keyframes move-up-animation{
  0%{transform: translateY(40px);opacity: 0;}
  100%{transform: translateY(0);opacity: 1;}
}
@media only screen and (min-width: 560px){
  .inaye-main .mySwiper2 .slide-content{width: 80%;}
  .inaye-main .mySwiper2 .swiper-slide{height: 300px;}
  .inaye-main .mySwiper2 .content-header{font-size: 18px;}
  .inaye-main .mySwiper2 .content-text{font-size: 18px;}
  .inaye-main .mySwiper2 .content-button{padding: 13px 20px;font-size: 18px;}
}
@media only screen and (min-width: 768px){
  .inaye-main .mySwiper2 .slide-content{width: 70%;}
  .inaye-main .mySwiper2 .swiper-slide{height: 350px;}
  .inaye-main .mySwiper2 .content-header{font-size: 20px;}
  .inaye-main .mySwiper2 .content-text{font-size: 24px;}
  .inaye-main .mySwiper2 .content-button{padding: 15px 23px;font-size: 20px;}
}
@media only screen and (min-width: 992px){
  .inaye-main .mySwiper2 .slide-content{width: 80%;}
  .inaye-main .mySwiper2 .swiper-slide{height: 370px;}
  .inaye-main .mySwiper2 .content-header{font-size: 22px;}
  .inaye-main .mySwiper2 .content-text{font-size: 28px;}
  .inaye-main .mySwiper2 .content-button{padding: 15px 25px;font-size: 22px;}
}

.inaye-main .slide-bottom-info p{color: #84c54e;font-weight: 500;}


.inaye-main #fealiyyet-section{
  background-image: url("image/inaye-main/fealiyyet/fealiyyet-bg.jpg");
  padding: 40px 0;
}
.inaye-main #fealiyyet-section .fealiyyet-header{
  font-weight: 700;
  font-size: 36px;
  color: #000;
  transition: 0.3s;
}
.inaye-main #fealiyyet-section .fealiyyet-header:hover{color: #ff7e27;}
.inaye-main #fealiyyet-section .mySwiper3{width: 60%;}
.inaye-main .mySwiper3 .sf-card{height: 260px; border-bottom: 1px solid #84c54e;}
.inaye-main .mySwiper3 .sf-card span{
  padding: 5px 0 10px;
  color: #84c54e;
  transition: 0.3s;
}
.inaye-main .mySwiper3 .sf-card:hover span{color: #ff7e27;}
.inaye-main .mySwiper3 .sf-card h4{font-size: 20px;color: #000;}

@media only screen and (min-width:560px){
  .inaye-main #fealiyyet-section .mySwiper3{width: 80%;}
}
@media only screen and (min-width:768px){
  .inaye-main #fealiyyet-section .mySwiper3{width: 100%;}
  .inaye-main #fealiyyet-section .fealiyyet-header{font-size: 46px;}
}


.inaye-main #yardim-section{
  width: 100%;
  padding: 50px 0;
  background-image: url("image/inaye-main/yardim-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.inaye-main .yardim-header{
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
.inaye-main .yardim-text{
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 20px;
  max-width: 400px;
}
.inaye-main .yardim-button{
  padding: 10px 20px;
  background-color: #FFE400;
  font-weight: 600;
  color: #000;
  transition: 0.3s;
}
.inaye-main .yardim-button:hover{
  background-color: #ff7e27;
  color: #fff;
}
@media only screen and (min-width:768px){
  .inaye-main #yardim-section{padding: 100px 0;}
  .inaye-main .yardim-header{font-size: 32px;font-weight: 500;}
  .inaye-main .yardim-text{font-size: 23px;}
  .inaye-main .yardim-button{padding: 15px 25px;font-size: 25px;}
}
@media only screen and (min-width:992px){
  .inaye-main #yardim-section{padding: 130xp 0;}
  .inaye-main .yardim-header{font-size: 42px;font-weight: 500;}
  .inaye-main .yardim-button{padding: 15px 30px;font-size: 30px;}
}
@media only screen and (min-width:1400px){
  .inaye-main #yardim-section{padding: 160px 0;}
  .inaye-main .yardim-header{font-size: 52px;font-weight: 500;}
  .inaye-main .yardim-button{padding: 15px 30px;font-size: 35px;}
}


.inaye-main #aksiya-section{
  background-image: url("image/inaye-main/aksiya/aksiya-bg.jpg");
  padding: 40px 0;
}
.inaye-main #aksiya-section .aksiya-header{
  font-weight: 700;
  font-size: 36px;
  color: #000;
  transition: 0.3s;
}
.inaye-main #aksiya-section .aksiya-header:hover{color: #ff7e27;}
.inaye-main #aksiya-section .mySwiper4{width: 60%;}
.mySwiper4 .sa-card{height: 260px;border-bottom: 1px solid #84c54e;}
.mySwiper4 .sa-card span{
  padding: 5px 0 10px;
  color: #84c54e;
  transition: 0.3s;
}
.inaye-main .mySwiper4 .sa-card:hover span{color: #ff7e27;}
.inaye-main .mySwiper4 .sa-card h4{font-size: 20px;color: #000;}
@media only screen and (min-width:560px){
  .inaye-main #aksiya-section .mySwiper4{width: 80%;}
}
@media only screen and (min-width:768px){
  .inaye-main #aksiya-section .mySwiper4{width: 100%;}
  .inaye-main #aksiya-section .aksiya-header{font-size: 46px;} 
}


.inaye-main #button-section{
  width: 100%;
  padding: 50px 0;
  background-color: #424242;
}
.inaye-main #button-section .bs-text{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 30%;
  text-align: center;
}
.inaye-main .bs-buttons a{
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 5px 0;
  font-weight: 500;
}
.inaye-main .bs-buttons a:nth-child(1){background-color: #ffe400;}
.inaye-main .bs-buttons a:nth-child(1):hover{background-color: #ff7e27;color: #fff;}
.inaye-main .bs-buttons a:nth-child(2){background-color: #ff7e27;color: #fff;}
.inaye-main .bs-buttons a:nth-child(2):hover{background-color: #84c54e;color: #fff;}
.inaye-main .bs-buttons a:nth-child(3){background-color: #84c54e;}
.inaye-main .bs-buttons a:nth-child(3):hover{background-color: #ff7e27;color: #fff;}
@media only screen and (min-width:768px){
  .inaye-main #button-section .bs-text{font-size: 22px;}
}
@media only screen and (min-width:992px){
  .inaye-main #button-section .bs-text{font-size: 26px;width: 40%;}
  .inaye-main .bs-buttons a{padding: 12px 22px;font-size: 20px;}
}


.inaye-main #layihe-section{
  background-image: url("image/inaye-main/layihe/layihe-bg.jpg");
  padding: 40px 0;
}
.inaye-main #layihe-section .layihe-header{
  font-weight: 700;
  font-size: 36px;
  color: #000;
  transition: 0.3s;
}
.inaye-main #layihe-section .layihe-header:hover{color: #ff7e27;}
.inaye-main #layihe-section .mySwiper5{width: 60%;}
.mySwiper5 .sl-card{height: 260px;border-bottom: 1px solid #84c54e;}
.mySwiper5 .sl-card span{
  padding: 5px 0 10px;
  color: #84c54e;
  transition: 0.3s;
}
.inaye-main .mySwiper5 .sl-card:hover span{color: #ff7e27;}
.inaye-main .mySwiper5 .sl-card h4{font-size: 20px;color: #000;}
@media only screen and (min-width:560px){
  .inaye-main #layihe-section .mySwiper5{width: 80%;}
}
@media only screen and (min-width:768px){
  .inaye-main #layihe-section .mySwiper5{width: 100%;}
  .inaye-main #layihe-section .layihe-header{font-size: 46px;} 
}


/*INAYE ABOUT*/

.inaye-about #info-content-section h1{font-size: 40px;font-weight: bolder;}
@media only screen and (min-width:768px){.inaye-about #info-content-section h1{font-size: 60px;}}

.inaye-about #meqsed-section{width: 100%;padding: 40px 0;background-color: #F6F5F2;}
.inaye-about #meqsed-section h1{font-size: 30px;font-weight: bold;}
.inaye-about #meqsed-section p{font-size: 18px;text-align: center;}
.inaye-about #meqsed-section .icon-card span{
  text-align: center;
  color: #84c54e;
  font-weight: 500;
  font-size: 18px;
  padding: 15px;
  transition: 0.3s;
  cursor: default;
}
.inaye-about #meqsed-section .icon-card span:hover{color: #ff7e27;}
@media only screen and (min-width:768px){
  .inaye-about #meqsed-section h1{font-size: 46px;}
  .inaye-about #meqsed-section p{font-size: 25px;}}


.inaye-about #hesabat-section{width: 100%;padding: 40px 0;}
.inaye-about #hesabat-section h1{font-size: 30px;font-weight: bold;}
.inaye-about #hesabat-section p{font-size: 18px;text-align: center;}
.inaye-about #hesabat-section .h-counter{
  font-size: 65px;
  color: #84c54e;
  font-weight: bold;
}
.inaye-about .hesabat-button{
  color: #fff;
  background-color: #84c54e;
  padding: 15px 25px;
  font-size: 18px;
  transition: 0.3s;
  border-radius: 10px;
  margin: 30px 0;
}
.inaye-about .hesabat-button:hover{background-color: #ff7e27;color: #fff;}
@media only screen and (min-width:768px){
  .inaye-about #hesabat-section h1{font-size: 46px;}
  .inaye-about #hesabat-section p{font-size: 25px;}
  .inaye-about .hesabat-button{padding: 15px 45px;font-size: 30px;}
}


.inaye-about #button-section{
  width: 100%;
  padding: 50px 0;
  background-color: #424242;
}
.inaye-about #button-section .bs-text{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 30%;
  text-align: center;
}
.inaye-about .bs-buttons a{
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 5px 0;
  font-weight: 500;
}
.inaye-about .bs-buttons a:nth-child(1){background-color: #ffe400;}
.inaye-about .bs-buttons a:nth-child(1):hover{background-color: #ff7e27;color: #fff;}
.inaye-about .bs-buttons a:nth-child(2){background-color: #ff7e27;color: #fff;}
.inaye-about .bs-buttons a:nth-child(2):hover{background-color: #84c54e;color: #fff;}
.inaye-about .bs-buttons a:nth-child(3){background-color: #84c54e;}
.inaye-about .bs-buttons a:nth-child(3):hover{background-color: #ff7e27;color: #fff;}
@media only screen and (min-width:768px){
  .inaye-main #button-section .bs-text{font-size: 22px;}
}
@media only screen and (min-width:992px){
  .inaye-about #button-section .bs-text{font-size: 26px;width: 40%;}
  .inaye-about .bs-buttons a{padding: 12px 22px;font-size: 20px;}
}


/*INAYE FEALIYYETLER*/


.inaye-fealiyyetler h1{font-size: 40px;color: #84c54e;font-weight: bold;padding: 15px 0;}
@media only screen and (min-width:768px){main h1{font-size: 60px;}}
.inaye-fealiyyetler .grid-item{
  width: 95%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 10px;
  position: relative;
}
.inaye-fealiyyetler .grid-item span{color: #918A8A;}
.inaye-fealiyyetler .grid-item h4{padding: 10px 0;color: #84c54e;font: 700;}
.inaye-fealiyyetler .grid-item p{padding-bottom: 40px;}
.inaye-fealiyyetler .grid-item a{
  position: absolute;
  bottom: 10px;
  align-self: center;
  color: #000;
  background-color: #ffe400;
  padding: 7px 35px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s;
}
.inaye-fealiyyetler .grid-item a:hover{background-color: #84c54e;color: #fff;}
.inaye-fealiyyetler .btn-group a{
  padding: 5px 10px;
  color: #918A8A;
  margin: 0 3px;
  background-color: #F6F5F2;
  border-radius: 5px;
}
.inaye-fealiyyetler .btn-group a:first-child,
.inaye-fealiyyetler .btn-group a:last-child{
  background-color: #333333;
  color: #fff;
  transition: 0.3s;
}
.inaye-fealiyyetler .btn-group a:first-child:hover,
.inaye-fealiyyetler .btn-group a:last-child:hover{
  background-color: #ff7e27;
}
.inaye-fealiyyetler .btn-group a:nth-child(2){background-color: #84c54e;color: #fff;}


/*INAYE PAGES*/

.inaye-page.page-image{width: 90%;}
.inaye-page.page-content h2{font: 45px;font-weight: 600;color: #84c54e;}
.inaye-page.page-content span{font-size: 16px;color: #918A8A;}
.inaye-page.page-content p{color: #918A8A;}


.inaye-page #yardim-section{
  width: 100%;
  padding: 50px 0;
  background-image: url("image/inaye-fealiyyetler/yardim-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.inaye-page .yardim-header{
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
.inaye-page .yardim-text{
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 20px;
  max-width: 400px;
}
.inaye-page .yardim-button{
  padding: 10px 20px;
  background-color: #FFE400;
  font-weight: 600;
  color: #000;
  transition: 0.3s;
}
.inaye-page .yardim-button:hover{
  background-color: #ff7e27;
  color: #fff;
}
@media only screen and (min-width:768px){
  .inaye-page #yardim-section{padding: 100px 0;}
  .inaye-page .yardim-header{font-size: 32px;font-weight: 500;}
  .inaye-page .yardim-text{font-size: 23px;}
  .inaye-page .yardim-button{padding: 15px 25px;font-size: 25px;}
}
@media only screen and (min-width:992px){
  .inaye-page #yardim-section{padding: 130xp 0;}
  .inaye-page .yardim-header{font-size: 42px;font-weight: 500;}
  .inaye-page .yardim-button{padding: 15px 30px;font-size: 30px;}
}
@media only screen and (min-width:1400px){
  .inaye-page #yardim-section{padding: 160px 0;}
  .inaye-page .yardim-header{font-size: 52px;font-weight: 500;}
  .inaye-page .yardim-button{padding: 15px 30px;font-size: 35px;}
}


/*INAYE MURACIET*/

.inaye-uzv .uzv-content span{
  font-size: 40px;
  color: #84c54e;
  font-weight: bold;
  padding: 10px 0;
}
.inaye-uzv .uzv-content p{border-left: 3px solid #84c54e;padding: 0 10px;}
.inaye-uzv form{width: 70%;padding: 10px;}
.inaye-uzv form label{padding: 5px;transition: 0.3s;}
.inaye-uzv form label:hover{color: #ff7e27;}
.inaye-uzv .form-control{border: 1px solid #84c54e; caret-color: #84c54e;}
.inaye-uzv .form-control:focus{
  border: 1px solid #84c54e;
  box-shadow: 1px 1px 5px #84c54e,-1px -1px 5px #84c54e;
}
.inaye-uzv form button{
  border: none;
  padding: 13px 30px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  margin: 20px 0;
  align-self: center;
  background-color: #ffe400;
  transition: 0.3s;
}
.inaye-uzv form button:hover{
  background-color: #ff7e27;
  color: #fff;
}
@media only screen and (min-width:768px){
  .inaye-uzv .uzv-content span{font-size: 60px;}
  .inaye-uzv form{width: 100%;}
}
@media only screen and (min-width:992px){
  .inaye-uzv .uzv-content span{font-size: 100px;}
  .inaye-uzv form{width: 80%;}
}


.inaye-konullu .uzv-content span{
  font-size: 40px;
  color: #84c54e;
  font-weight: bold;
  padding: 10px 0;
}
.inaye-konullu .uzv-content p{border-left: 3px solid #84c54e;padding: 0 10px;}
.inaye-konullu form{width: 70%;padding: 10px;}
.inaye-konullu form label{padding: 5px;transition: 0.3s;}
.inaye-konullu form label:hover{color: #ff7e27;}
.inaye-konullu .form-control{border: 1px solid #84c54e; caret-color: #84c54e;}
.inaye-konullu .form-control:focus{
  border: 1px solid #84c54e;
  box-shadow: 1px 1px 5px #84c54e,-1px -1px 5px #84c54e;}
.inaye-konullu .form-select{border: 1px solid #84c54e;}
.inaye-konullu .form-select:focus{
  border: 1px solid #84c54e;
  box-shadow: 1px 1px 5px #84c54e,-1px -1px 5px #84c54e;}
.inaye-konullu form button{
  border: none;
  padding: 13px 30px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  margin: 20px 0;
  align-self: center;
  background-color: #ffe400;
  transition: 0.3s;
}
.inaye-konullu form button:hover{
  background-color: #ff7e27;
  color: #fff;
}
@media only screen and (min-width:768px){
  .inaye-konullu .uzv-content span{font-size: 60px;}
}
@media only screen and (min-width:992px){
  .inaye-konullu .uzv-content span{font-size: 80px;}
  .inaye-konullu form{width: 80%;}
}


.inaye-ehtiyac{
  background-image: url("image/inaye-main/aksiya/aksiya-bg.jpg");
}
.inaye-ehtiyac .error-div h1{
  color: #84c54e;
  font-size: 150px;
  font-weight: bold;
}
.inaye-ehtiyac .error-div h5{
  font-size: 30px;
  color: #ff7e27;
}
.inaye-ehtiyac .error-div p{
  font-size: 22px;
}
.inaye-ehtiyac .error-div a{
  color: #fff;
  background-color: #84c54e;
  padding: 10px 30px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  margin: 30px 0;
  transition: 0.3s;
}
.inaye-ehtiyac .error-div a:hover{
  background-color: #ff7e27;
}



/*INAYE GALLERY*/

.inaye-foto h1{
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
  padding: 15px 0;
}
.inaye-foto h1:hover{color: #ff7e27;}
@media only screen and (min-width:768px){
  .inaye-foto h1{font-size: 60px;}
}
.inaye-foto .image-item{
  width: 98%;
  position: relative;
  margin: 20px 0;
}
.inaye-foto .image-item .hidden-div{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inaye-foto .hidden-div a{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(255,255,255,0.4);
  transition: 0.3s;
  font-size: 20px;
  animation: move-down-btn 0.5s ease forwards;
}
.inaye-foto .hidden-div a:hover{
  background-color: rgba(0,0,0,0.8);
  transform: scale(1.2);
}
@keyframes move-down-btn{
  0%{transform: translateY(-80px);opacity: 0;}
  100%{transform: translateY(0);opacity: 1;}
}
.inaye-foto .btn-group a{
  padding: 5px 15px;
  color: #918A8A;
  margin: 0 3px;
  background-color: #F6F5F2;
  border-radius: 5px;
  font-size: 18px;
}
.inaye-foto .btn-group a:first-child,
.inaye-foto .btn-group a:last-child{
  background-color: #333333;
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
}
.inaye-foto .btn-group a:first-child:hover,
.inaye-foto .btn-group a:last-child:hover{
  background-color: #ff7e27;
}
.inaye-foto .btn-group a:nth-child(2){background-color: #84c54e;color: #fff;}



.inaye-video h1{
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
  padding: 15px 0;
}
.inaye-video h1:hover{color: #ff7e27;}
@media only screen and (min-width:768px){
  .inaye-video h1{font-size: 60px;}
}
.inaye-video .video-item{
  width: 98%;
  position: relative;
  margin: 20px 0;
}
.inaye-video .video-item .hidden-div2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inaye-video .hidden-div2 a{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(255,255,255,0.4);
  transition: 0.3s;
  font-size: 20px;
  animation: move-down-btn 0.5s ease forwards;
}
.inaye-video .hidden-div2 a:hover{
  background-color: rgba(0,0,0,0.8);
  transform: scale(1.2);
}
@keyframes move-down-btn{
  0%{transform: scale(0);opacity: 0;}
  100%{transform: scale(1.2);opacity: 1;}
}
.inaye-video .btn-group a{
  padding: 5px 15px;
  color: #918A8A;
  margin: 0 3px;
  background-color: #F6F5F2;
  border-radius: 5px;
  font-size: 18px;
}
.inaye-video .btn-group a:first-child,
.inaye-video .btn-group a:last-child{
  background-color: #333333;
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
}
.inaye-video .btn-group a:first-child:hover,
.inaye-video .btn-group a:last-child:hover{
  background-color: #ff7e27;
}
.inaye-video .btn-group a:nth-child(2){background-color: #84c54e;color: #fff;}





/*INAYE CONTACT*/

.inaye-contact .contact h5{
  font-size: 25px;
  transition: 0.3s;
  cursor: default;
}
.inaye-contact .contact h5:hover{
  color: #ff7e27;
}
.inaye-contact .contact span:first-child{
  font-weight: 700;
}
.inaye-contact .phone span:last-child, .email span:last-child{
  color: #84c54e;
  transition: 0.3s;
  cursor: pointer;
}
.inaye-contact .phone span:last-child:hover, .email span:last-child:hover{
  color: #ff7e27;
}
.inaye-contact .sosial a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.3s;
  margin: 0 5px;
}
.inaye-contact .sosial a:nth-child(1){
  background-color: #3B5998;
  border: 3px solid #3B5998;
}
.inaye-contact .sosial a:nth-child(1):hover{
  color: #3B5998;
  background-color: #fff;
}
.inaye-contact .sosial a:nth-child(2){
  background-color: #E52D27;
  border: 3px solid #E52D27;
}
.inaye-contact .sosial a:nth-child(2):hover{
  color: #E52D27;
  background-color: #fff;
}
.inaye-contact .sosial a:nth-child(3){
  background-color: #1AB7EA;
  border: 3px solid #1AB7EA;
}
.inaye-contact .sosial a:nth-child(3):hover{
  color: #1AB7EA;
  background-color: #fff;
}
.inaye-contact .sosial a:nth-child(4){
  background-color: #CC2127;
  border: 3px solid #CC2127;
}
.inaye-contact .sosial a:nth-child(4):hover{
  color: #CC2127;
  background-color: #fff;
}
.inaye-contact form{
  width: 90%;
  padding: 15px 0;
}
.inaye-contact .form-floating{
  margin: 15px 0;
}
.inaye-contact .form-control{
  border: 1px solid #84c54e;
  caret-color: #84c54e;
}
.inaye-contact .form-control:focus{
  border: 1px solid #84c54e;
  box-shadow: 1px 1px 5px #84c54e, -1px -1px 5px #84c54e;
}
.inaye-contact form button{
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: #84c54e;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
}
.inaye-contact form button:hover{
  background-color: #ff7e27;
}